.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}
.red-line {
  width: 180px;
  height: 2px;
  background: var(--red-main);
  margin-bottom: 8px;
}

.header {
  width: 100%;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(19, 15, 16, 0.75) 0%,
    rgba(19, 15, 16, 0.8) 100%
  );
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 6px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-container-content {
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 48px;
}
.header-contacts {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-1);
}
.header-project-list {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  left: 0;
  top: 32px;
  border-radius: 8px;
  width: 243px;
  height: 115px;
  background: var(--black);
  opacity: 0.9;
  box-shadow: 2px 4px 11px 6px rgba(127, 124, 124, 0.07);
  z-index: 10;
}
.header-project-list.show {
  display: flex;
}
.header-project-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-1);
  transition: 350ms;
}
.header-project-link:hover {
  color: var(--red-main);
}
.project-link-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-list-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--white-1);
  cursor: pointer;
}
.vector-icon-down {
  margin-left: 8px;
  fill: var(--white-2);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.vector-icon-down.rotated {
  transform: rotate(180deg);
}
.contact-wraper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-address {
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  padding: 16px 8px;
  border-radius: 8px;
  width: 254px;
  height: 108px;
  background: var(--black);
  opacity: 0.7;
  box-shadow: 2px 4px 11px 6px rgba(127, 124, 124, 0.07);
}
.header-address.show {
  display: flex;
}
.icon-down {
  margin-left: 8px;
  fill: var(--white-2);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.icon-down.rotated {
  transform: rotate(180deg);
}
.header-address-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.header-address-link {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  color: var(--white-1);
  transition: 300ms;
}
.icon-address-header {
  stroke: #f7f7f6;
}
.address-item:hover .icon-address-header {
  stroke: var(--red-main);
}
.address-item:hover .header-address-link {
  color: var(--red-main);
}
/*-------------------OUR-PATRON-SECTION----------------*/

.our-patron {
  display: flex;
  justify-content: center;
  gap: 96px;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.patron-info-wraper {
  max-width: 1184px;
}
.title-wraper {
  margin-bottom: 40px;
}
.patron-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
}
.patron-second-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 32px;
}
.our-peatron-text {
  max-width: 503px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
  margin-bottom: 16px;
}
.tit-img-patron {
  width: 486px;
  height: 494px;
  margin-top: 143px;
}

/*-------------------BIOGRAFY-PATRON-SECTION----------------*/

.biografy-container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.biografy-container-list {
  max-width: 1203px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 220px;
}
.biografy-list-item {
  width: 1203px;
  display: flex;
  align-items: center;
  gap: 169px;
}
.second-child-list {
  width: 1150px;
  display: flex;
  align-items: unset;
  gap: 172px;
}
.biografy-list-item:last-child {
  gap: 107px;
}
.biografy-container-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--red-main);
  margin-bottom: 24px;
}
.text-crypt {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
}
.biografy-text-container {
  width: 528px;
}
.biograf-text {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}
/*-------------------LINE-CLICKER-----------------*/
.line-clicker {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 70px 124px;
}
.wraper-clicker {
  width: 1192px;
  height: 48px;
}
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.line {
  width: 270px;
  height: 1px;
  background-color: var(--black);
}
.part-clicker {
  position: absolute;
  top: 62px;
  left: 434px;

  margin: 0 auto;
  width: 804px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 135px;
}
.marker-wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.marker-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 294px;
}

.marker-line-clicker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--grey);
}
.marker-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 135px;
}
.marker-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}
.marker-text:first-child {
  width: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------------------WHY-HIM-SECTION----------------*/
.why-him-section {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  margin-bottom: 132px;
  padding-top: 96px;
  padding-bottom: 124px;
  background: var(--black-bg);
}
.why-him-wrapper {
  display: flex;
  gap: 175px;
}
.why-him-text-container {
  width: 528px;
  margin-top: 26px;
}
.why-him-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--white-1);
}
.why-him-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white-1);
  margin-bottom: 16px;
}
/* ----------------------FOOTER------------------------ */
.footer {
  background-color: var(--black-bg);
  padding: 64px 158px 8px 158px;
}
.footer-wraper {
  width: 100%;
  height: 297px;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.footer-contact-wraper {
  height: 154px;
}
.footer-contact-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white-1);
  margin-bottom: 40px;
}
.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-address-link {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: var(--white-1);
}
.footer-social {
  height: 98px;
  margin-top: 84px;
  margin-left: 94px;
  margin-right: 132px;
}
.footer-social-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-1);
  margin-bottom: 32px;
}
.footer-socia-list {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.footer-question {
  max-width: 256px;
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-question-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  color: var(--white-1);
  margin-bottom: 13px;
  align-self: flex-start;
}
.question-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.question-input-name {
  border-radius: 3px;
  padding: 10px 220px 9px 8px;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey);
  background: var(--white-2);
}
.question-textarea {
  border-radius: 3px;
  padding: 9px 174px 42px 9px;
  background: var(--white-2);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey);
  resize: none;
}
.footer-button-form {
  width: 163px;
  padding: 11px 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-1);
  background-color: var(--red-main);
  border: none;
  cursor: pointer;
  transition: 300ms;
}
.footer-button-form:hover {
  transform: scale(1.2);
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-text-item {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--white-2);
}
.social-icon-footer {
  cursor: pointer;
  --color1: var(--white-2);
  fill: var(--color1);
  transition: 200ms;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  --color1: var(--red-main);
  fill: var(--color1);
  transform: scale(1.2);
}

.social-icon-footer path {
  stroke: var(--color1);
}
