:root {
  --white-1: #f7f7f6;
  --white-2: #d6d8da;
  --red-main: #82071b;
  --black: #050507;
  --black-bg: #282829;
  --grey: #7b7b7b;
  --brown: #34312d;
  --grey-bg: #caced1;
  --black-text: #000;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "SF Pro Text", sans-serif;
}

body {
  color: var(--white-1);
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  padding: 0px 100px;
  margin: 0 auto;
}
.hero {
  max-width: 1440px;
  position: relative;
  height: 894px;
  background-image: url(../assets/image/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 127px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(19, 15, 16, 0.75) 0%,
    rgba(19, 15, 16, 0.8) 100%
  );
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 6px;
}

.header-list {
  margin-left: 112px;
  margin-right: 77px;
  display: flex;
  align-items: center;
  gap: 48px;
}
.vector-header-list {
  margin-left: 8px;
  display: unset;
}
.header-contacts {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-1);
}
.vector-contact {
  margin-left: 8px;
  cursor: pointer;
}
.header-list-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--white-1);
  cursor: pointer;
}
.contact-wraper {
  display: flex;
}
.hero-info {
  padding-left: 100px;
  max-width: 846px;
}

.hero-title {
  height: 160px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white-1);
  margin-bottom: 8px;
}
.hero-text {
  max-width: 572px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-2);
}
.hero-red-line {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 975px;
  height: 16px;
  background: var(--red-main);
}

/* -------------------MISSION-SECTION-------------------- */

.section-mission {
  padding-top: 112px;
  padding-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}
.mission-info-wraper {
  max-width: 1240px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.missions-svg {
  opacity: 0.2;
}
.mission-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.mission-title {
  width: 221px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
}
.mission-list {
  max-width: 875px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 96px;
  column-gap: 80px;
  margin-top: 46px;
}
.mission-item {
  width: calc((100 - 80px) / 2);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  max-width: 397px;
}

.red-line-main {
  width: 180px;
  height: 2px;
  background: var(--red-main);
}
.red-line {
  width: 389px;
  height: 2px;
  background: var(--red-main);
  margin-bottom: 8px;
}
.activity-section {
  display: flex;
  justify-content: center;
  background: var(--black-bg);
  padding-top: 64px;
  padding-bottom: 80px;
  align-items: center;
}
.activity-wraper {
  max-width: 1240px;
}
.activity-section-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white-1);
}
.activity-galery {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  display: flex;
  gap: 32px;
}
.galery-first {
  width: 397px;
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-third {
  display: flex;
  gap: 24px;
}
.galery-third-one {
  width: 393px;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image/img2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-third-two {
  width: 393px;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image/img3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-four {
  width: 811px;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-image: url(../assets/image/img4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-1);
}
/* -------------------BIOGRAFY-SECTION-------------------- */

.biografy-section {
  padding-top: 140px;
  padding-bottom: 180px;
  display: flex;
  justify-content: center;
}
.biografy-wraper {
  max-width: 100%;
}
.biografy-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 56px;
}
.biografy-wraper2 {
  display: flex;
  justify-content: space-between;
  gap: 172px;
}

.bografy-list {
  max-width: 503px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.biografy-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}
.title-more-info {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
}
.biografy-poster {
  position: relative;
  display: inline-block;
}
.biografy-poster img {
  display: block;
}
.title-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  transform-origin: top right;
  margin: 0;
  padding: 8px;
}
/* -------------------PROJECT-SECTION-------------------- */
.project-section {
  display: flex;
  justify-content: center;
}
.project-wraper {
  max-width: 1240px;
}
.project-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
}
.project-gallery {
  width: 1237px;
}
.project-gallery-list {
  display: flex;
  gap: 72px;
}
.project-gallery-item {
  display: flex;
  position: relative;
  height: 535px;
  background: var(--black-bg);
}
.gallery-item {
  display: flex;
}
.gallery-info {
  width: 584px;
  padding: 95px 29px 29px 29px;
}
.gallery-project-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--white-1);
  margin-bottom: 24px;
}
.gallery-project-text {
  width: 378px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white-2);
  margin-bottom: 8px;
}
.gallery-project-slider {
  width: 653px;
  height: 534px;
  overflow: hidden;
}
.gallery-memorial-project {
  display: flex;
  width: 2612px;
  height: 534px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.button-wraper {
  position: absolute;
  bottom: 8px;
  right: 262px;
}

/* -------------------TEAM-SECTION-------------------- */
.team-section {
  display: flex;
  justify-content: center;
}
.team-wraper {
  width: 1240px;
}
.team-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
}
.team-list {
  display: flex;
  gap: 88px;
  margin-left: 94px;
}
.team-name {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black-text);
}
.team-position {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--black-text);
}

/* -------------------ABOUT-SECTION-------------------- */
.about-section {
  padding-top: 70px;
  padding-bottom: 140px;
  display: flex;
  justify-content: center;
}
.about-wraper {
  max-width: 1240px;
}
.main-title-about {
  margin-bottom: 40px;
}
.about-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
}
.about-news-wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.about-news-first {
  padding: 24px 24px 54px 24px;
  width: 503px;
  height: 556px;
  display: flex;
  flex-direction: column;

  background: var(--black-bg);
}
.news-first-title-wraper {
  margin-bottom: 24px;
  display: flex;
  gap: 9px;
}
.news-logo-img {
  border: 0.5px solid #000;
  border-radius: 5px;
}
.title-news {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-1);
}
.newspaper-img {
  border: 1px solid #000;
  width: 455px;
  height: 276px;
  margin-bottom: 16px;
}
.news-description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-2);
  margin-bottom: 16px;
}
.date-news {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: var(--grey);
  margin-bottom: 24px;
}
.more-about {
  display: flex;
  align-items: center;
  gap: 8px;
}
.more-news {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--grey-bg);
}
.news-vector-svg {
  width: 43px;
  height: 12px;
  fill: var(--grey-bg);
  align-items: center;
  cursor: pointer;
}

.about-news-second {
  width: 713px;
  height: 556px;
  background: var(--grey-bg);
  padding: 16px;
}
.news-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.news-list-wraper {
  position: relative;
  display: flex;
  gap: 24px;
}
.news-list-wraper::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey);
}
.title-logo-wraper {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}
.newspaper-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--red-main);
}
.more-info-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
  margin-bottom: 8px;
}
.date-news-list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: var(--grey);
}

/* ----------------------FOOTER------------------------ */
.footer {
  background-color: var(--black-bg);
  padding: 64px 158px 8px 158px;
}
.footer-wraper {
  width: 100%;
  height: 297px;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.footer-contact-wraper {
  height: 154px;
}
.footer-contact-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white-1);
  margin-bottom: 40px;
}
.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-address-link {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: var(--white-1);
}
.footer-social {
  height: 98px;
  margin-top: 84px;
  margin-left: 94px;
  margin-right: 132px;
}
.footer-social-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-1);
  margin-bottom: 32px;
}
.footer-socia-list {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.footer-question {
  max-width: 256px;
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-question-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  color: var(--white-1);
  margin-bottom: 13px;
  align-self: flex-start;
}
.question-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.question-input-name {
  border-radius: 3px;
  padding: 10px 220px 9px 8px;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey);
  background: var(--white-2);
}
.question-textarea {
  border-radius: 3px;
  padding: 9px 174px 42px 9px;
  background: var(--white-2);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey);
  resize: none;
}
.footer-button-form {
  width: 163px;
  padding: 11px 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-1);
  background-color: var(--red-main);
  border: none;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-text-item {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--white-2);
}
