:root {
  --white-1: #f7f7f6;
  --white-2: #d6d8da;
  --red-main: #82071b;
  --black: #050507;
  --black-bg: #282829;
  --grey: #7b7b7b;
  --brown: #34312d;
  --grey-bg: #caced1;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  padding: 0px 100px;
}
.hero {
  position: relative;
  height: 894px;
  background-image: url(../assets/image/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  height: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(19, 15, 16, 0.75) 0%,
    rgba(19, 15, 16, 0.8) 100%
  );
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 6px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 48px;
}
.vector-header-list {
  margin-left: 8px;
  display: unset;
}
.header-contacts {
  font-weight: 500;
  font-size: 16px;
  color: var(--white-1);
}
.vector-contact {
  margin-left: 8px;
  cursor: pointer;
}
.header-list-item {
  color: white;
  cursor: pointer;
}
.contact-wraper {
  display: flex;
}
.hero-info {
  padding-left: 100px;
  max-width: 846px;
}

.hero-title {
  height: 160px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  color: white;
  margin-top: 264px;
  margin-bottom: 8px;
}
.hero-text {
  max-width: 572px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: white;
}
.hero-red-line {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 975px;
  height: 16px;
  background: var(--red-main);
}
.section-mission {
  position: relative;
  padding-top: 112px;
  padding-bottom: 17px;
  height: 455px;
}
.missions-svg {
  opacity: 0.2;
}
.mission-info {
  position: absolute; /* Встановлюємо позицію absolute, щоб елемент вийшов зі строю потоку */
  z-index: -1; /* Встановлюємо зі строєм */
  top: 0; /* Встановлюємо позицію зверху */
  left: 0;
  margin-top: 140px;
  margin-left: 100px;
}
.mission-title {
  width: 221px;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--black);
}
.mission-list {
  margin-left: 353px;
  width: 875px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 96px;
}
.mission-item {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  max-width: 397px;
}

.red-line-main {
  width: 180px;
  height: 2px;
  background: var(--red-main);
}
.red-line {
  width: 389px;
  height: 2px;
  background: var(--red-main);
  margin-bottom: 8px;
}
.activity-section {
  background: var(--black-bg);
  padding-top: 64px;
  padding-bottom: 80px;
}
.activity-section-title {
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white-1);
}
.activity-galery {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
.galery-first {
  width: 397px;
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image/img1.jpg);
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-third {
  display: flex;
  gap: 24px;
}
.galery-third-one {
  width: 393px;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image/img2.jpg);
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-third-two {
  width: 393px;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/image/img3.jpg);
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-four {
  width: 811px;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-image: url(../assets/image/img4.jpg);
  box-shadow: 2px 5px 11px 4px rgba(91, 91, 91, 0.15);
}
.galery-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--white-1);
}
